#page-map {
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;
}

#page-map .create-orphanages {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 9999;

  width: 80px;
  height: 80px;
  border-radius: 30px;
  font-size: 32px;

  background-color: #15c3d6;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
}

#page-map .create-orphanages:hover {
  background-color: #17d6eb;
  color: #fff;
}

#page-map aside {
  width: 440px;
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  padding: 80px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page-map aside h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 64px;
}

#page-map aside p {
  line-height: 28px;
  margin-top: 24px;
}

#page-map aside footer {
  display: flex;
  flex-direction: column;

  line-height: 24px;
}

#page-map aside footer strong {
  font-weight: 800;
}

#page-map aside footer .theme-switcher-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  background: none;
  color: #fff;
  transition: 0.3s ease;

  border: 0;
  margin-top: 20px;
}

#page-map aside footer .theme-switcher-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

#page-map aside footer .theme-switcher-btn:active,
.theme-switcher-btn:focus {
  outline: none;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 4px lightgray;
  border-radius: 20px;
}

#page-map .map-popup .leaflet-popup-content {
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #0089a5;
  margin: 8px 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-map .map-popup .leaflet-popup-content-wrapper .view-orphanage-btn {
  width: 40px;
  height: 40px;
  background: #15c3d6;
  color: #fff;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#page-map .map-popup .leaflet-popup-tip-container {
  display: none;
}
